Options +FollowSymLinks -MultiViews

RewriteEngine On

# If folder does not exist
RewriteCond %{REQUEST_FILENAME} !-d
# and file exist
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f
# uncomment the below rule if you want / not optional 
# otherwise leave as is
# RewriteRule ^([^/]+)/$ $1.php [L]
# internally show the content of filename.php
RewriteRule ^([^/]+)/?$ $1.php [L,QSA]

RewriteRule ^giveaway/([0-9]+)/([A-Za-z0-9]+)/?$ /giveaway?id=$1&hash=$2 [NC,L,QSA]
#RewriteRule ^giveaway/([0-9]+) /giveaway?id=$1 [NC,L,QSA]