Options +FollowSymLinks -MultiViews
IndexIgnore *

ErrorDocument 404 /error_page/
RewriteEngine On

# If folder does not exist
RewriteCond %{REQUEST_FILENAME} !-d
# and file exist
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f
# uncomment the below rule if you want / not optional 
# otherwise leave as is
# RewriteRule ^([^/]+)/$ $1.php [L]
# internally show the content of filename.php
RewriteRule ^([^/]+)/?$ $1.php [L]
RewriteRule ^sweepstake/([0-9]+) /sweepstakes?st=$1 [NC,L]
RewriteRule ^lottery/([0-9]+) /lotteries?st=$1 [NC,L]